/* Custom selection colors */

a {
  color: #0b4182;
  text-decoration: none;
}

a:not(.no-underline):hover {
  text-decoration: underline;
}

::selection {
  background: #0b4182;
  color: white;
}

::-moz-selection {
  background: #0b4182;
  color: white;
}