html {
  overflow-y: scroll;
}

.shadow {
  box-shadow: 5px 5px 0 #0b4182;
  border-color: #0b4182;
}

a {
  color: #0b4182;
  text-decoration: none;
}

a:not(.no-underline):hover {
  text-decoration: underline;
}

::selection {
  background: #0b4182;
  color: white;
}

/* purgecss start ignore */

img::selection {
  background: rgba(255, 255, 255, 0.5);
}

/* purgecss end ignore */

.grow {
  transition-duration: 0.15s;
}

.grow-child {
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.grow-parent:hover .grow-child {
  transform: scale(1.2);
}

.nav {
  transition: border-width 0.15s ease-out;
}

.nav:hover {
  border-width: 0.25rem;
}
